[Desktop Entry]
Type=Application
Name=Lite GL
Comment=A lightweight text editor written in Lua
Exec=lite-gl %F
Icon=lite-gl
Terminal=false
StartupWMClass=lite-gl
Categories=Development;IDE;
MimeType=text/plain;inode/directory;
